* {
	box-sizing: border-box;
}

.row {
	clear: both;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.field {
	width: 500px;
	height: 500px;
}

.cell {
	flex-grow: 1;
	background: #dcdefe;
	float: left;
	text-align: center;
	font-size: 30px;
	border: 1px solid white;
	height: 70px;
	transition: all 0.7s;
	cursor: pointer;
	padding: 10px 5px;
	font-family: Consolas, monospace;
}

.cell:hover {
	background: #feddae;
}

.first {
	background-color: red;
	float: left;
	width: 50%;
	transition: all 2s;
}